.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 2 карточки на мобильных */
    gap: 1px;  /* сильно уменьшаем расстояние между карточками */
    justify-items: center;
    /* width: 80%; */

}

@media (min-width: 900px) {
    .list {
        grid-template-columns: repeat(3, 1fr);  /* 3 карточки на больших экранах */
    }
}

@media (max-width: 600px) {
    .list {
        grid-template-columns: repeat(2, 1fr);  /* 2 карточки на экранах до 600px */
    }
}
