.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
  }
  

.cat{
    width: 150px;
    margin: 20px;
}

.message{
    background: rgb(255, 255, 175);
}